.example-card {
    max-width: 25;
    max-width: 400px;
    margin: 10px;
  }

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.add-box {
  display: flex;
  justify-content: center;
  margin: 5px 0px;
}